<!DOCTYPE html>
<html lang="en">
<head>
<title>JooyIn Homepage</title>

<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Beauty Life web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->

<!-- css files -->
<link rel="stylesheet" href="stylesheets/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="stylesheets/homepagestyle.css" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="stylesheets/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" href="stylesheets/lightbox.css">  <!-- For-Gallery-CSS -->
<!-- //css files -->

<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lobster&amp;subset=cyrillic,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
<!-- //online-fonts -->
</head>
<body>
<div class="Main-agile">
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="col-md-8 w3l_header_left">
				<ul>
                    <a href="loginPage"><li>LOGIN</li></a><a href="signupPage"><li>REGISTER</li></a>
				</ul>
			</div>
			<div class="col-md-4 w3l_header_right">
				<div class="navbar-right social-icons"> 
					<ul>
						<li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
					</ul>  
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="header-bottom">
			<div class="container">
				<div class="col-md-3 logo-w3l">
                    <h1><a class="navbar-brand" href="#"><span>JooyIn</span></a></h1>
				</div>
				<div class="col-md-9 navi-w3l">
						<nav class="navbar navbar-default">
							<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<nav class="menu menu--francisco">
										<ul class="nav navbar-nav menu__list">
											<li class="menu__item menu__item--current"><a href="" class="menu__link"><span class="menu__helper">HOMEPAGE</span></a></li>
											<li class="menu__item menu__item--current"><a href="#about" class="menu__link scroll"><span class="menu__helper">WHAT IS JOOYIN</span></a></li>
<!--											<li class="menu__item"><a href="#features" class="menu__link scroll"><span class="menu__helper">Features</span></a></li>-->
											<li class="menu__item menu__item--current"><a href="#experts" class="menu__link scroll"><span class="menu__helper">AUTHOR</span></a></li>
											<li class="menu__item menu__item--current"><a href="#gallery" class="menu__link scroll"><span class="menu__helper">PICTURES</PICTURE></span></a></li>
											<li class="menu__item menu__item--current"><a href="#contact" class="menu__link scroll"><span class="menu__helper">CONTACTS</span></a></li>
										</ul>
									</nav>
									<div class="clearfix"></div>
								</div><!-- /.navbar-collapse -->
									<!-- /.container-fluid -->
							</div>
						</nav>
				</div>
				<div class="clearfix"></div>
			</div>	
		</div>
	</div>
	<!-- //header -->
	<!-- banner -->
		<!-- Slider -->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider">
					<li>
						<div class="w3layouts-banner-top">
							<div class="container">
								<div class="slider-info">
							<h3>WorkOut Together</h3>
							<h4>Experience a new sports dating mode</h4>
						</div>
	
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top1">
							<div class="container">
								<div class="slider-info">
							<h3>Real-Time initiate Groups</h3>
							<h4>See you when time is up</h4>
						</div>
	
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top2">
							<div class="container">
								<div class="slider-info">
							<h3>Exercise Happily</h3>
							<h4>Keep you happy and in good shape</h4>
						</div>								
							</div>
						</div>
					</li>

				</ul>
			</div>
			<div class="clearfix"></div>
		</div>

		<!-- //Slider -->
	<!-- //banner -->
	<!-- move-text -->
	<div class="banner-w3l-bo">
		<div class="demo">
			<marquee behavior="scroll" style="background:#06b393; color:#fff;" direction="left" onmouseover="this.stop();" onmouseout="this.start();">				
				JooyIn is a brand new online, free to use immediately<span> Download JooyIn now to experience the new sports dating mode </span><span>“JooyIn truly enhances both my health and relationships” </span> 
			</marquee> 	 
		</div>
	</div>
	<!-- //move-text -->
</div>

<!-- welcome -->
	<div class="welcome" id="about">
		<div class="container">
			<div class="col-md-6 welcome-right">
				<div class="welcome-right-top">
					<img src="images/ab.jpg" alt="Beauty">
				</div>
				<div class="welcome-right-bottom">
					<img src="images/ab2.jpg" alt="Beauty">
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-6 welcome-left">
				<h3 class="wow fadeInLeft animated animated" data-wow-delay=".5s">What is JooyIn？</h3>
				<h4 class="wow fadeInLeft animated animated" data-wow-delay=".5s">JooyIn is a social network application app. We hope that with the power of the Internet, friends can exercise in groups anytime, anywhere, so that the power of the online network can spread offline, and at the same time, we can make new friends through sports！</h4>
				<p class="wow fadeInLeft animated animated" data-wow-delay=".5s"> JooyIn makes you not lonely when you exercise. Set up your sports, time and location, and you can let friends who also love sports join your exercise. </p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //welcome -->
<!-- Experts -->
			<div class="team w3layouts-agileits" id="experts">
				<div class="container">
					<h3>Author</h3>
					<div class="col-md-6 welcome-right">
					<ul class="ch-grid">
						<li>
							<div class="ch-item">
								<div class="ch-info">
									<div class="ch-info-front ch-img-5"></div>
									<div class="ch-info-back">
										<h4>TING-WEI LIN</h4>
										<p>Back-End Engineer</p>
										<div class="icons">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>       
					</ul>
					</div>
					<div class="col-md-6 welcome-left">
						<h4 class="wow fadeInLeft animated animated" data-wow-delay=".5s">I am Jacky from Taiwan, currently a Master's Student in Computer Science at the University of California, Irvine. I am always into the community side of Computer Science, also have equipped with insights derived from fields beyond software development.</h4>
						<p class="wow fadeInLeft animated animated" data-wow-delay=".5s">JooyIn is one of my group project in my college. The application provides a platform for busy students to make friends through exercise groups. That was the moment when I realized that software engineering can empower me to impact the world. Therefore, after we graduated, I maintain JooyIn and package it as a simple demo mode</p>
					</div>
				</div>
			</div>
<!-- //Experts -->
<!-- testimonial -->
	<div class="testimonial">
		<!-- container -->
		<div class="container">
			<h3 class="w3layouts-title">Listen to our users' Feedbacks!</h3> 
			 <div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active agileits-w3layouts">
						<div class="carousel-caption">
							<div class="testimonial-grids">
								<div class="testimonial-left">
									<img src="images/t9.jpg" alt="" />
								</div>
								<div class="testimonial-right">
									<h5>Allan</h5>
									<p><span>"</span> I like to use JooyIn, so I can quickly find a good mountain climbing partner <span>"</span>
									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="item agileits-w3layouts"> 
						<div class="carousel-caption">
							<div class="testimonial-grids">
								<div class="testimonial-left">
									<img src="images/t10.jpg" alt="" />
								</div>
								<div class="testimonial-right">
									<h5>Ivone</h5>
									<p><span>"</span> Ever since I found someone to accompany me to exercise on JooyIn, my  vest line has been practiced! <span>"</span>
									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div> 
					</div>
					<div class="item agileits-w3layouts"> 
						<div class="carousel-caption">
							<div class="testimonial-grids">
								<div class="testimonial-left">
									<img src="images/t11.jpg" alt="" />
								</div>
								<div class="testimonial-right">
									<h5>Debbie</h5>
									<p><span>"</span> Thanks to JooyIn for letting me find runners, now I have a good shape as like a 18 years old ABG!<span>"</span>
									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div> 
					</div>
				</div> 
			</div><!-- /.carousel -->  
		</div>
		<!-- //container -->
	</div>
<!-- //testimonial --> 

<!-- gallery -->
	<div id="gallery" class="gallery">
		<div class="container"> 
			<h3 class="w3stitle">PICTURES</PICTURE></h3>  
			<div class="gallery-w3lsrow">
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
							<img src="images/g1.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>Warm Up</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
							<img src="images/g2.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>BacketBall</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
							<img src="images/g3.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>WorkOut</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
							<img src="images/g4.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>Jogging</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
							<img src="images/g6.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>WorkOut</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
							<img src="images/g5.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>Jogging</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
							<img src="images/g7.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>Warm Up</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-sm-3 col-xs-4 gallery-grids">
					<div class="w3ls-hover">
						<a href="images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
							<img src="images/g8.jpg" class="img-responsive zoom-img" alt=""/>
							<div class="view-caption">
								<h5>WorkOut</h5>
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</a>
					</div>
				</div>  
				<div class="clearfix"> </div> 
			</div>
		</div> 
	</div>
<!-- Contact -->
	<div class="agileinfo-contact" id="contact">
		<div class="container">
		<h3 class="agile">CONTACTS US！</h3>
			<div class="w3_agile_mail_grids_agile">
				<div class="w3_agile_mail_left">
					<div class="agileits_mail_grid_right1 agile_mail_grid_right1">
						<form action="#" method="post">
							<span>
								<i>Name</i>
								<input type="text" name="Name" placeholder=" " required="">
							</span>
							<span>
								<i>Email</i>
								<input type="email" name="Email" placeholder=" " required="">
							</span>
							
							<span>
								<i>Message</i>
								<textarea name="Message" placeholder=" " required=""></textarea>
							</span>
							<input type="submit" value="SUBMIT">
						</form>
					</div>
				</div>
			</div>
	</div>
</div>
<!-- //Contact -->

<!-- footer -->
<div class="footer">
	<div class="container">
				<div class="col-md-8 get-in-grids">
					<div class="get-in-grid-left">
						<p>SUBSCRIBE US<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span></p>
					</div>
					<div class="get-in-grid-right">
						<form action="#" method="post">
							<input type="email" name="email" Placeholder="Enter your Email..." required="">
							<input type="submit" value="SUBSCRIBE" >
						</form>
					</div>
				</div>
				<div class="col-md-4 w3l_header_right soci-w3">
					<div class="navbar-right social-icons"> 
						<ul>
							<li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
						</ul>  
					</div>
				</div>
				<div class="clearfix"> </div>
		<div class="w3agile_footer_copy">
			<p>© 2020 JooyIn All rights reserved </p>
		</div>
	</div>
</div>
<!-- //footer -->

	
<!-- js-scripts -->					
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script> 
		<script src="js/lightbox-plus-jquery.min.js"> </script> 
		<script src="js/responsiveslides.min.js"></script>
		<script>
				$(function () {
					$("#slider").responsiveSlides({
						auto: true,
						pager:false,
						nav: true,
						speed: 1000,
						namespace: "callbacks",
						before: function () {
							$('.events').append("<li>before event fired.</li>");
						},
						after: function () {
							$('.events').append("<li>after event fired.</li>");
						}
					});
				});
			</script>
		<!-- start-smoth-scrolling -->
				<script type="text/javascript" src="js/move-top.js"></script>
				<script type="text/javascript" src="js/easing.js"></script>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
				</script>
		<!-- Stats-Number-Scroller-Animation-JavaScript -->
				<script src="js/waypoints.min.js"></script> 
				<script src="js/counterup.min.js"></script> 
				<script>
					jQuery(document).ready(function( $ ) {
						$('.counter').counterUp({
							delay: 100,
							time: 1000
						});
					});
				</script>
		<!-- smooth scrolling-bottom-to-top -->
				<script type="text/javascript">
					$(document).ready(function() {						
					$().UItoTop({ easingType: 'easeOutQuart' });
					});
				</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>